.review {
    margin-bottom: 25px;
    display: flex;
    border: 3px solid red;
    border-radius: 35px;
}

.review img {
    border-radius: 35px;
    width: 150px;
    height: 150px;
}

.review div {
    margin-left: 20px;
}

.review h2 {
    text-align: start;
    color: black;
    margin-bottom: 0;
}

.review p {
    color: #222;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review .icon {
    width: 20px;
    height: 20px;
    color: gold;
}